* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Header */
.header {
  height: 100px;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 5px rgb 0, 0, 0, 0.4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0e8ec; }
  .header .header__omega {
    font-weight: bold;
    color: #ebc5da; }
  .header .header__logo {
    justify-content: left; }
  .header .nav {
    width: 100%; }
    .header .nav .nav__lista {
      width: 100%;
      list-style: none;
      list-style-type: none;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem; }
    .header .nav .nav__enlace {
      color: #781A8B;
      text-decoration: none;
      text-transform: initial; }
    .header .nav .nav__item--oculto {
      display: none; }

/* Footer */
.footer {
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: left; }
  .footer .footer__copy {
    font-weight: 700;
    text-decoration-style: wavy;
    justify-content: left;
    align-items: center; }
  .footer .footer__nav1 {
    width: 10%;
    height: 100%;
    align-items: center;
    object-fit: contain;
    justify-content: right;
    flex-flow: row; }
  .footer .footer__nav2 {
    width: 10%;
    height: 100%;
    align-items: center;
    object-fit: contain;
    justify-content: right;
    flex-flow: row; }

.index {
  background-color: none;
  text-align: center;
  border-radius: 20px;
  margin-top: 32px;
  margin-bottom: 32px; }
  .index .index__titulo {
    color: #8f427a;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: solid; }
  .index .index__subtitulo {
    color: #781A8B;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    animation-name: efecto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate; }

@keyframes efecto {
  from {
    opacity: 1; }
  to {
    opacity: 0.5;
    transform: translate(2px); } }
  .index .index__imagen {
    padding: 16px; }
  .index .index__foto {
    width: 100%;
    padding: 16px;
    justify-content: center;
    object-fit: cover;
    align-items: stretch;
    filter: blur(1px); }
  .index .index__parrafo {
    font-size: 17px;
    padding: 2rem 1rem; }

.faq {
  padding: 16px; }

.presentacion {
  text-align: center;
  border-radius: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px; }
  .presentacion .presentacion__imagen {
    padding: 16px; }
  .presentacion .presentacion__foto {
    width: 100%;
    padding: 16px;
    justify-content: center;
    object-fit: cover;
    align-items: stretch; }
  .presentacion .presentacion__foto {
    transition: transform 0.3s ease; }
  .presentacion .presentacion__foto:hover {
    filter: blur(2px); }
  .presentacion .presentacion__titulo {
    font-size: 40px;
    line-height: 2;
    color: #8f427a;
    font-weight: 700;
    text-decoration: solid; }
  .presentacion .presentacion__parrafo1 {
    padding: 2rem 1rem; }
  .presentacion .presentacion__parrafo2 {
    padding: 1rem; }

.servicios {
  background-color: none; }
  .servicios .servicios__titulo {
    font-size: 40px;
    line-height: 2;
    color: #8f427a;
    font-weight: 700;
    text-decoration: solid;
    text-align: center; }
  .servicios .servicios__subtitulo {
    padding: 1rem; }
