.form {
    margin-top: 200px;
    padding: 16px;

}
// .contacto {
//     @include cardContainer (space-around, "yes");
//     }
.mapa {
    padding: 16px;
}

.container {
    align-items: center;
    margin-top: 50px;
}
