/* Header */
.header {
    height: 100px;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgb (0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e8ec;
    .header__omega {
        font-weight: bold;
        color: #ebc5da;  
    }
    .header__logo {
        justify-content: left;
    }
    .nav {
        width: 100%;
        .nav__lista {
            width: 100%;
            list-style: none;
            list-style-type: none;
            font-size: 16px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
        }
        .nav__enlace {
            color: #781A8B;
            text-decoration: none;
            text-transform: initial;
        }
        .nav__item--oculto {
            display: none;
        }
    }
        
    }
/* Footer */
.footer {
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column;
    justify-content:space-evenly; 
    align-items: left; 
    .footer__copy {
        font-weight: 700;
        text-decoration-style: wavy;
        justify-content: left;
        align-items: center;  
    }
    .footer__nav1 {
        width: 10%;
        height: 100%;
        align-items: center;
        object-fit: contain;
        justify-content: right;
        flex-flow: row;
    }
    .footer__nav2 {
        width: 10%;
        height: 100%;
        align-items: center;
        object-fit: contain;
        justify-content: right;
        flex-flow: row;
    }
}



    
    
    