@media screen and (max-width: 600px) { 
    body {
        background-color: rgb(231, 211, 224);
    }
   .header {
       flex-direction: row;
       width: 100%;
       .header__open {
        text-decoration: none;
        color: #781A8B;
    }
    .header__icono {
        display: block;
        font-size: 32px;
        color: pink;
     }
    .header__logo {
        justify-content: flex-start;
        align-content: left;
        justify-content: left;
        width: 75%;
    }           
   } 
   /* Inicio sidebar */
   .nav {
       display: none;
   }
   
   #sidebar {
    display: block;
    background-color: rgb(248, 195, 228);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 80%;
    max-width: 350px;
    padding: 1rem;

    transform: translateX(-100%);
    transition: transform 0.5s;
    #sidebar .nav__lista {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #sidebar:target {
     transform: translateX(0);
    }
}

.nav__item--oculto {
    display: block;
}


/* Fin sidebar */
.index {
    flex-direction: row;
    .index__left, .index__right {
        width: 100%;
    } 
    .index__imagen {
        width: 100%;       
    }
}

.footer {
    display: grid;
    /* background-color: #f8eff5; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "ele1 ele2"
    "ele3 ele3";
    justify-items: center;
    &__nav1 {
        grid-area: ele1;
    }
    &__nav2 {
        grid-area: ele2;
    }
    &__copy {
        grid-area: ele3;
    }
}
.presentacion__photo {
    width: 100%
}
.presentacion__parrafo {
    width: 100%;
}
}


