.servicios {
    background-color: none;
    &__titulo {
        font-size: 40px;
        line-height: 2;
        color:#8f427a;
        font-weight: 700;
        text-decoration: solid;
        text-align: center;
    }
    &__subtitulo {   
        padding: 1rem;
    }
}