.servicios {
    background-color: none;
    .servicios__titulo {
        font-size: 40px;
        line-height: 2;
        color:#8f427a;
        font-weight: 700;
        text-decoration: solid;
        text-align: center;
    }
    .servicios__subtitulo {   
        padding: 1rem;
    }
}